{% extends "base.html" %}
{% block title %}Add course{% endblock %}
{% block content %}
  <h1>Add Course</h1>
  <form method="post">

    <label for="name">Name:</label>
    <input type="text" id="name" name="name"><br>

    <label for="start_date">Start date:</label>
    <input type="date" id="start_date" name="start_date"><br>

    <label for="end_date">End date:</label>
    <input type="date" id="end_date" name="end_date"><br>

    <label for="weekday">Weekday:</label>
    <select id="weekday" name="weekday">
      <option value="0">Monday</option>
      <option value="1">Tuesday</option>
      <option value="2">Wednesday</option>
      <option value="3">Thursday</option>
      <option value="4">Friday</option>
      <option value="5">Saturday</option>
      <option value="6">Sunday</option>
    </select><br>

    <label for="price_per_lesson">Price per lesson:</label>
    <input type="number" id="price_per_lesson" name="price_per_lesson"><br>

    <input type="submit" value="Add">
  </form>
{% endblock %}
